<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <meta charset="utf-8">
        <title>Fundamentos Angular</title>
        <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
        <script>
            angular.module('app',[])
        </script>
    </head>
    <body>
        <h1>
            <!-- {{ value }} -->
             {{ value }} <!-- One time bind - Bloqueando o Bind mais de uma vez -->
        </h1>
        <input ng-model="value"
        
    </body>
</html>