<!-- NESTA PAGINA TEM UMA DIFERENCA DO EXERCICIO 3 PQ NÃO USA O $SCOPE POIS PASSO A ACESSAR DIRETO O CONTROLLER. -->

<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <meta charset="utf-8">
        <title>Fundamentos Angular</title>
        <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
        <script>
            angular.module('app',[])
            angular.module('app').controller('MeuController',[
                
                function()
                {
                    const ctrl = this
                    ctrl.value = 10
                    ctrl.inc = function(){
                    ctrl.value++
                    }
                }
            ])
        </script>
    </head>
    <body>

        <div ng-controller="MeuController as ctrl">
            <h1>{{ ctrl.value }}
                
            </h1>
            <input ng-model="ctrl.value"/>
            <button ng-click="ctrl.inc()">Inc</button>
        </div> 
        
    </body>
</html>