<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <meta charset="utf-8">
        <title>Fundamentos Angular</title>
        <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
        <script>
            angular.module('app',[])
            angular.module('app').service('utils', function(){
            this.upper = function upper(input){
                return input.toUpperCase()
            }
            })
        angular.module('app').controller('MeuController',[
            'utils', 
            function(utils)
            {
                const  ctrl = this
                ctrl.value = utils.upper("texto")    
            }
        ])
        </script>
    </head>
    <body>
        <div ng-controller="MeuController as ctrl">
            <h1>{{ ctrl.value }}</h1>
            </div>
    </body>
</html>