<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <meta charset="utf-8">
        <title>Fundamentos Angular</title>
        <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
        <script>
            angular.module('app',[])
            angular.module('app').component('field',{
                bindings: {
          id: '@',
          label: '@',
          model: '='
        },
        template: `
          <label for="{{ $ctrl.id }}">{{ $ctrl.label }}</label>
          <input id="{{ $ctrl.id }}" ng-model='$ctrl.model'>
        `
      })
      angular.module('app').controller('MeuController', function() {
        const self = this
        self.name = "Anônimo"
      })
        </script>
    </head>
    <body>
        <div ng-controller="MeuController as ctrl">
            <h1>{{ ctrl.name }}</h1>
            <field id="name" label="Nome" model="ctrl.name"></field>
        </div>
    </body>
</html>